.example-chip {
  padding: 50px;
}
.example-chip .cdk-drop-list-dragging {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.example-box {
 background-color: rgb(233, 123, 178);
}

.example-box.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

#menu li span {
  font-family: Arial;
  float: left;
  padding: 10px;
}

#acceso {
  position: absolute;
  right: 10px;
}
